@model FastApiGatewayDb.Ui.Models.LoginModel
@{ Layout = null;}
<html>
<head>
    <title>微服务网关</title>
    @Html.Partial("Meta")
    @Html.Partial("link")
    <link href="/content/css/login.css" rel="stylesheet" type="text/css" />
    @Html.Partial("script")
</head>
<body class="login">
    <div class="main-login">
        <div class="logo margin-top-30">
            <img src="/content/images/login/logo-03.png" class="img-responsive" width="150" height="150">
        </div>
        <div class="box-login form-login">
            <div class="form-group">
                <span class="input-icon">
                    @Html.TextBoxFor(a => a.Code, new { @class = "form-control", @placeholder = "用户名" })
                </span>
            </div>
            <div class="form-group form-actions">
                <span class="input-icon">
                    @Html.PasswordFor(a => a.Pwd, new { @class = "form-control password", @placeholder = "密码" })
                </span>
            </div>
            <div class="form-actions">
                <div class="clip-check check-primary">
                    <input type="checkbox" value="1" id="Remember" checked="checked">
                    <label for="remember">记住密码</label>
                    <button class="btn btn-primary btn-login pull-right" type="button">
                        登录 <i class="fa fa-arrow-circle-right"></i>
                    </button>
                </div>
            </div>
        </div>
        <font style="font-size: 12px; font-family: initial;">
            <div class="copyright">
                <p>微服务网关</p>
            </div>
        </font>
    </div>
</body>
</html>
<script>
    window.isSubmit = true;
    $(document).keyup(function (event) {
        if (event.keyCode == 13 && window.isSubmit) {
            $(".btn").click();
        }
    });

    $(".btn").click(function () {
        layer.load(2);
        $.ajax({
            type: "POST",
            url: "/home/Login",
            data:
            {
                "Code": $("#Code").val(),
                "Pwd": $("#Pwd").val(),
            },
            success: function (result) {
                layer.closeAll('loading');
                if (result.success) {
                    window.location.href = result.url;
                } else {
                    layer.msg(result.msg, function () { window.isSubmit = true; });
                }
            }
        });
    });
</script>