@using System.Collections.Generic;
@using FastUntility.Core.Base;
@using FastApiGatewayDb.Ui.Models;
@model FastUntility.Core.Page.PageResult

@{
    var page = new PageSizeModel();

    page.PageId = Model.pModel.PageId;
    page.PageSize = Model.pModel.PageSize;
    page.TotalPage = Model.pModel.TotalPage;
    page.TotalRecord = Model.pModel.TotalRecord;

    page.FormId = "ExceptionForm";
    page.ContentId = "ExceptionContent";
    page.Url = "/Exception/List";
    page.TableId = "ExceptionTable";
}

<div class="box-body table-responsive">
    <table id="ExceptionTable" class="table table-bordered" style="overflow: hidden;overflow-x: auto;white-space: nowrap;">
        <thead>
            <tr>
                <td align="center">key</td>
                <td align="center">等待时间</td>
                <td align="center">Url</td>
                <td align="center">下次请求时间</td>
                <td align="center">出错信息</td>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null && Model.list != null)
                {
                    foreach (var item in Model.list)
                    {
                        <tr>
                            <td style="padding-left:20px;" align="left">@item.GetValue("KEY")</td>
                            <td style="padding-left:20px;" align="left">@item.GetValue("WAITHOUR")小时</td>
                            <td style="padding-left:20px;word-wrap:break-word;word-break:break-all;white-space:normal;" align="left">@item.GetValue("URL")</td>
                            <td style="padding-left:20px;word-wrap:break-word;word-break:break-all;white-space:normal;" align="left">@item.GetValue("NEXTACTION")</td>
                            <td style="padding-left:20px;word-wrap:break-word;word-break:break-all;white-space:normal;" align="left" >
                                @(item.GetValue("ERRORMSG").ToStr().Length>10?item.GetValue("ERRORMSG").ToStr().Substring(0,10)+"...":item.GetValue("ERRORMSG") )
                                <a href="#" data-value="@item.GetValue("ERRORMSG").ToStr().Replace("<", "&lt;").Replace(">", "&gt;")" onclick="FnShow(this)">更多</a> 
                            </td>
                        </tr>
                    }
                    if (Model.list.Count == 0)
                    {
                        <tr><td colspan="5">找不到相关信息</td></tr>}
                }
            }
        </tbody>
    </table>
    @await Html.PartialAsync("page", page)
</div>
<script>
    $('#ExceptionTable tbody tr').click(function () {
        $(this).css('background-color', '#6CC2CC');
        $('#ExceptionTable tbody tr:odd').not(this).css('background-color', '#ffffff');
        $('#ExceptionTable tbody tr:even').not(this).css('background-color', '#f3f4f5');
    });

    function FnShow(obj) {
        layer.msg(JSON.stringify($(obj).data("value")));
    }
</script>